.logo
{
    font-family: "Anek Latin", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.nav-item
{
    font-size: 3vh;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999; 
    background-color: rgba(255, 255, 255, 0.5);
}

.drop-menu-lg .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000; /* Ensure the dropdown appears above other elements */
}

.wrapper
{
    width: 90%;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.parent
{
    width: 90%;
    margin: 0 10px;
    margin-bottom: 15%;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s;
    cursor: pointer;
}

.parent figure{
    display: block;
    width: 100%;
    border-radius: 5px;
}

.parent:hover
{
    transform: scale(1.2);
    z-index: 2;
}

figcaption
{
    font-size: 32px; 
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media only screen and (min-width: 768px)
{
    .parent
    {
        width: 25%;
        margin: 0 10px;
        margin-bottom: 5%;
        box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
        transition: 1s;
        cursor: pointer;
    }

}