.logo
{
    font-family: "Anek Latin", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    font-size: 3vh; 
    color: #595959;
}

.nav-item
{
    font-size: 3vh;
}

.navbar 
{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999; 
    background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.7), rgba(255,255,255,0.5), rgba(255,255,255,0));
}

.drop-menu-lg .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000; 
}

.wrapper
{
    width: 90%;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.parent
{
    width: 80%;
    margin: 0 10px;
    margin-bottom: 10%;
}

.parent figure{
    display: block;
    width: 100%;
    border-radius: 5px;
}

.figure img
{
    cursor: pointer;
    transition: .6s;
}

.parent figure img:hover
{
    transform: scale(1.1);
    z-index: 2;
}

figcaption
{
    font-size: 32px; 
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media only screen and (min-width: 768px)
{
    .parent
    {
        width: 25%;
        margin: 0 10px;
        margin-bottom: 5%;
    }

}