.logo
{
    font-family: "Anek Latin", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    font-size: 3vh; 
    color: #595959;
}

.nav-item
{
    font-size: 3vh;
}

.icon-cart
{
    color: #595959;
}

.icon-cart:hover
{
    cursor: pointer;
    color: black;
}

#cart-num
{
    font-family: "Anek Latin", sans-serif;
    font-size: 24px;
    margin-left: 10px;
}

.navbar 
{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999; 
    background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.8), rgba(255,255,255,0.6), rgba(255,255,255,0.4), rgba(255,255,255,0));
}

.drop-menu-lg .dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 1000; 
}

#about-us
{
    max-height: 80vh;
    max-width: 60vw;
    margin-left: 20vw;
    font-family: "Pathway Gothic One", sans-serif;
    color: #595959;
    font-size: 24px;
}

.about
{
    font-family: "Anek Latin", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    font-size: 3vh; 
    color: #595959;
    margin-top: 10vh;
}

#contact-us
{
    max-width: 60vw;
    margin-left: 20vw;
    font-family: "Pathway Gothic One", sans-serif;
    color: #595959;
    font-size: 24px;
}

.contact
{
    font-family: "Anek Latin", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    font-size: 3vh; 
    color: #595959;
    margin-top: 5vh;
}

.product-list
{
    width: 100%;
    padding: 20px;
    margin: 70px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product
{
    width: 80%;
    margin: 0 10px 2%;
    transition: 1s;
}

.product figure{
    display: block;
    width: 100%;
    border-radius: 5px;
}

.figure img
{
    cursor: pointer;
    transition: .8s;
}

.product figure img:hover
{
    transform: scale(1.1);
    z-index: 2;
}

figcaption
{
    font-size: 32px; 
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.disclaimer
{
    font-family: "Oswald", sans-serif;
    margin: 20px;
}

mark
{
    background-color: yellow;
}

.cartTab
{
    width: 400px;
    background-color: white;
    color: #353432;
    position: fixed;
    inset: 0 0 0 auto; 
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: 1s;
    z-index: 1000;
    border-left: solid #353432 1px;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}

.cart-header
{
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.home-cart
{
    inset: 0 -400px 0 auto; 
}

body.showCart .cartTab
{
    inset: 0 0 0 auto; 
}

body.showCart .container
{
    transform: translateX(-250px);
}

.cartTab h1
{
    padding: 20px;
    margin: 0;
    font-weight: 300;   
}

.total-label
{
    font-size: 16px;
    font-weight: 500;
    border-top: 1px solid black;
    width: 85%;
    margin: auto;
}

.cartTab .cart-btn
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab .cart-btn button
{
    background-color: #f3c610;
    border: none;
    font-weight: 500;
    cursor: pointer;
    height: 70px;
    color: #535353;
}

.cartTab .cart-btn .close
{
    background-color: #eee;
}

.cartTab .transaction-btn .complete
{
    background-color: #eee;
    color: #535353;
    border: none;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    height: 70px;
}

.cartTab .cart-btn .close:hover
{
    background-color: #dadada;
    color: black;
}

.cartTab .cart-btn .checkOut:hover
{
    background-color: #E8BC0E;
    color: black;
}

.transaction-btn .complete:hover
{
    color: black;
    background-color: #E8BC0E;
}

.cartTab .listCart .product img
{
    width: 100%;
}

.cartTab .listcart .product
{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listCart .quantity span
{
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.listCart
{
    overflow: auto;
}

.transaction-page
{
    margin-top:5%;
    margin-left:3%;
    max-width: 60%;
    font-family: "Oswald", sans-serif;
}

.form-group
{
    margin: 20px;
}

input
{
    font-family: "Pathway Gothic One", sans-serif;    
    margin: 5px;
} 

.payment-info
{
    max-width: 60%;
}

.listCart::-webkit-scrollbar 
{
    width: 10px;
}
  
.listCart::-webkit-scrollbar-track 
{
    border-radius: 10px;
}
   
.listCart::-webkit-scrollbar-thumb 
{
    background: #acabab; 
    border-radius: 10px;
}
  
.listCart::-webkit-scrollbar-thumb:hover 
{
    background: #636363; 
}

body::-webkit-scrollbar
{
    width:0;
}

@media only screen and (min-width: 768px)
{
    .product
    {
        width: 25%;
        margin: 0 10px 2%;
        transition: 1s;
    }

    .cartTab .listCart .product img
    {
        width: 200%;
    }

    #about-us
    {
        max-height: 90vh;
        height: 90vh;
        max-width: 60vw;
        margin-left: 20vw;
        font-family: "Pathway Gothic One", sans-serif;
        color: #595959;
        font-size: 24px;
    }

    .contact
    {
        font-family: "Anek Latin", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;
        font-size: 3vh; 
        color: #595959;
        margin-top: 10vh;
    }
}