<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&family=Oswald:wght@200..700&family=Pathway+Gothic+One&display=swap" rel="stylesheet">    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>BUYGLASSESCO</title>
    <link rel="icon" type="image/x-icon" href="../static/BGC.png">
</head>
<body class="home">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between w-100">
                <div class="drop-menu-lg">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-list"></i>
                            </a>
                            <ul class="dropdown-menu dropdown">
                                <li><a class="dropdown-item" href="#top">Products </a></li>
                                <li><a class="dropdown-item" href="#about-us">About Us</a></li>
                                <li><a class="dropdown-item" href="#contact-us">Contact Us</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div>
                    <a class="navbar-brand logo" href="/">BUYGLASSESCO</a>
                </div>
                <div>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <div class = "icon-cart">
                                <i class="bi bi-bag-fill"></i><span id="cart-num">0</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class = "product-list">
        <div class = "product"> </div>
    </div>

    <div class="cartTab home-cart">
        <h1 class="cart-header"> </h1>
        <div class="listCart"> </div>
        <div class = "total-label">TOTAL PRICE: $0</div>
        <div class="cart-btn">
            <button class="close">CLOSE</button>
            <button class="checkOut" id="checkoutBtn">CHECKOUT</button>
        </div>
    </div>

    <script>
        document.getElementById("checkoutBtn").addEventListener("click", function() {
            window.location.href = "/checkout";
        });
    </script>

    <div id="about-us">
        <hr style="color: white">
        <h1 class="about">ABOUT US</h1>
        <p>
            <div>
            <b>BUYGLASSESCO</b> is an independent provider of eye care service in the U.S., founded by <u>Devin Ngo</u>, <u>Nathan Vo</u>, and <u>Kenny Tran</u> in March 2024.
            </div>
            <br>
            <div>
            Our mission is to provide the overall best service for people's vision needs.  
            Our strategy is to offer people a vast selection of the highest quality frames and lenses at great prices directly to customers.  
            We support these offerings with access to information and friendly attention.  
            We help people to define their personal beauty, and to see the beauty in the world. 
            </div>
            <br>
            <div class="mission-statement">
            We provide goods and services to people to help them see better, but the key to our mission is not in what we do, but how we do it - with compassion. 
            Our goal is to be compassionate in all our relationships - with customers, suppliers, employees, investors, community, environment, friends and family. 
            We strive to carefully understand the situations of others, and then to offer appropriate help with kindness.  
            We gather a wide range of quality products and services with a vast array of features and benefits, and offer them at the most reasonable profit we can afford. 
            We believe that customers should have easy access to a wide range of tools and information about eyewear, so that they can make the best choices for their needs.
            We back up all of our efforts with a Satisfaction Guarantee so that if we are not able to help a customer, they can easily receive a refund and find help elsewhere. 
            We only work with what we believe are quality products and services; we do not sacrifice quality for price or speed in our offerings. 
            And, we look for ways to give back to our local community - for example, providing eyewear and eye exams to clients of homeless shelters. 
            We constantly look for ways to reduce energy consumption, reduce waste, re-use packaging materials, and conserve the environment. 
            </div>
            <br class="mission-statement">
            <div>
            Thank you for supporting our business!
            </div>
        </p>
    </div>

    <div id="contact-us">
        <hr style="color: white">
        <h1 class="contact">CONTACT US</h1>
        <p>
            EMAIL: support@buyglasses.co
            <br>
            CALL: 000-000-0000
        </p>
    </div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>